<footer class="c-footer">
    <nav class="c-footer__nav">
        <ul class="c-footer__nav-list">
            {% assign navigation_pages = site.html_pages | sort: 'navigation_weight' %}
            {% for p in navigation_pages %}
                {% if p.navigation_weight %}
                    <li class="c-footer__nav-item">
                        <a class="c-footer__nav-link{% if p.url == page.url %} c-footer__nav-link--active{% endif %}" href="{{ p.url }}">{{ p.title }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
</footer>
