body {
    font-family: $font-sans-serif;
    color: $color-primary;
    background: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.js .u-js-hide {
    display: none;
}

.no-js .u-no-js-hide {
    display: none;
}

.u-fade {
    opacity: 0;
    transition: opacity 0.3s;
}

.u-container {
   position: absolute;
   top: 8.5em;
   width: 100%;
   z-index: 2;
   background: #fff;
   clip: rect(auto, auto, auto, auto);
   clip-path: inset(0 0 0 0);
}

.c-header {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: 1;
    &__top {
        margin: 2em 0;
        font-size: 1em;
        display: inline-block;
        text-align: right;
    }
    &__link {
        display: inline-block;
        color: $color-primary;
    }
    &__title {
        font: 400 2em/1.5em $font-serif;
        color: $color-primary-darken;
    }
    &__subtitle {
        display: block;
        margin: -0.5em 0 0.5em;
        font: 400 1em/1.5em $font-sans-serif;
    }

}

.c-footer {
    padding: 2em;
    text-align: center;
    background: #fff;
    &__nav {
    }
    &__nav-list {
        list-style: none;
        display: inline-block;
    }
    &__nav-item {
        display: inline-block;
        & + &::before {
            content: " - ";
        }
    }
}

.c-main {
    min-width: 18.5em;
    max-width: 35em;
    padding: 2em;
    margin: auto;
}

.c-post {
    margin-bottom: 4em;
    &__title {
        margin: 0;
        display: inline-block;
        font: 400 2em/1em $font-serif;
        color: $color-primary-darken;
    }
    &__date {
        display: block;
        margin: 2em 0 0;
        text-transform: uppercase;
        font-size: 0.8em;
    }
    &__content {
        font-size: 1.2em;
        line-height: 1.5em;
    }
}

.c-comments {
    margin: 2em 0 4em;
    &__button {
        display: block;
        margin: 0 auto;
        padding: 0.5em 1em;
        border: 0;
        line-height: 2em;
        color: #fff;
        background: $color-secondary;
        transition: 0.2s background;
        &:hover,
        &:focus {
            background: $color-secondary-darken;
        }
    }
    &__content {

    }
}

.c-video {
    position: relative;
    margin: 1.5em 0;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.c-map {
    width: 100%;
    height: 300px;
}


.u-map-icon {
    display: block;
    position: relative;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    white-space: nowrap;
    background: no-repeat 50%;
    background-size: 24px 24px;
    &--airport {
        background-image: url("../images/site/airport.svg");
    }

    &--walking {
        top: -4px;
        background-image: url("../images/site/walking.svg");
    }
}


@media screen and (min-width: 48em) {
    .u-container--left::after {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, #fff 50%, transparent 66%);
        z-index: -1;
    }
    .c-main--left {
        margin: 0;
        width: 50%;
    }
    .c-map {
        position: fixed !important;
        top: 0;
        left: 50%;
        width: 50%;
        height: 100%;
        z-index: -2;
        backface-visibility: hidden;
    }
}

@media screen and (min-width: 64em) {
    .u-container--left::after {
        background: linear-gradient(90deg, #fff 35em, transparent 41em);
    }
    .c-map {
        left: 35em;
        width: calc(100% - 35em);
    }
}
