// Font
$font-serif : Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
$font-sans-serif : 'Avenir Next', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Colors

// Brown
$color-primary: #9d9c95;
$color-primary-darken: #5f646c;

// Green
$color-secondary: #47dbb4;
$color-secondary-darken: #33d996;
