<!DOCTYPE html>
<html lang="{{ site.lang | default: page.lang | default: 'fr' }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="u-container{% if layout.post == true %} u-container--left{% endif %}">


        <main class="c-main{% if layout.post == true %} c-main--left{% endif %}">

          {{ content }}

        </main>

        {% include footer.html %}

    </div>


    {% if layout.custom_js %}
      {% for js_file in layout.custom_js %}
        {% capture file %}{{ js_file | slice: 0,4 }}{% endcapture %}
        {% if file == "http" %}
          <script src='{{ js_file | replace: '%GMAPKEY%', site.gmapKey }}'></script>
        {% else %}
          <script src='{{ "/assets/js/" | append: js_file | append: ".js" | prepend: site.baseurl }}'></script>
        {% endif %}
      {% endfor %}
    {% endif %}

  </body>

</html>
