---
layout: default
post: true
custom_js:
- https://maps.googleapis.com/maps/api/js?key=%GMAPKEY%&v=3.exp&sensor=false
- post
---

<div class="c-post{% if page.start %}  js-map-coordinates{% endif %}"{% if page.start %} data-from="{{ page.start }}"{% endif %}{% if page.end %} data-to="{{ page.end }}"{% endif %}{% if page.plane %} data-polylines="{{ page.plane }}"{% endif %}>
   {% if page.img %}
    <img class="c-post__image" src={{ "/images/" | prepend: site.baseurl | append : page.img}} alt>
    {% endif %}
    <article>
        <time datetime="{{ page.date | date_to_xmlschema }}" class="c-post__date">{% include date.html param=page.date %}</time>
        <h1 class="c-post__title">{{page.title}}</h1>
        <div class="c-post__content">{{page.content | markdownify}}</div>
    </article>
</div>

{% if page.start %}<div id="map" class="c-map"></div>{% endif %}

{% include disqus.html %}
